
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;


    background: var(--gradientes-gradiente-hover, linear-gradient(90deg, #9F55FF 0%, #FF46B9 100%));
}

body, button{
    font-family: 'Outfit', sans-serif;
}

main, .center{
    display: grid;
    place-content: center;
    height: 100vh;
}


.modal-trailer{

    width: 900px;
    height: 500px;

    border-radius: 5px;
    position: relative;
}

.modal{
    
    
    background: transparent;
    position: absolute;
    right: 50px;
    top: 40px;
    left: 50px;
    height: 850px;

    border-radius:10px;

    

    opacity: 0;
    visibility: hidden;
}

.modal button{
    width: 23px;
    border: none;
    background: transparent;
    color: #fff;
    cursor: pointer;
    margin-bottom: 5px;
}

.modal button:hover{
    color:#0a0a0a
}

.modal.open{
    opacity: 1;
    visibility: visible;
}

.hidden{
    opacity: 0;
    visibility: hidden;
}

.app{
    width: 846px;
    height: 632px;
    border: 8px solid #9F55fF;
    border-radius: 16px;
    padding: 64px 96px;

    display: flex;
    flex-direction: column;
    gap: 36px;

    background: var(--cores-cinza-dark, #1E1F28);
    box-shadow: 0px -3px 22px 0px rgba(0, 0, 0, 0.35);

}

.top {
    width: 654px;
}

.top header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn button{
    width: 220px;
    height: 48px;
    display: flex;

    align-items: center;
    gap: 8px;

    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    cursor: pointer;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background: var(--gradientes-gradiente-normal, linear-gradient(90deg, #8323FF 0%, #FF2DAF 100%));
}

.btn button:hover{
    background: var(--gradientes-gradiente-normal, linear-gradient(90deg, #7713f9 0%, #f816a1 100%));
}

.recomendacoes{
    width: 654px;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 36px;
}

.poster .title{
    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.poster .img{
    margin: 12px 0 8px;
}

.title h2{
    overflow: hidden;
    color: #FFF;
    
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.title .nota{
    display: flex;
    align-items: center;
    justify-content: center;
}

.poster button{
    width: 100%;
    padding: 8px 16px;

    display: flex;
    gap: 8px;
    align-items: center;

    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border: none;
    border-radius: 4px;
    background: #2B2B37;

    cursor: pointer;
}

.poster button:hover{
    background: #2e2e36;
    border-radius: 5px;
}

.poster .img{
    width: 194px;
    height: 292px;
}

.data .hora{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 8px 0;
}

.data .hora div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.data .hora p{
    color:#8B8D9B;
    
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}



